[defaults]
host_key_checking = False 
# Чтобы при добавлении нового сервера не проверять known_hosts
pipelining = True 
# Для оптимизации пайплайнов, CI/CD, копирование 
stdout_callback = default 
# Чтобы выводилась о работе был более читаемым и информативным
timeout = 30 
# Чтобы не висел вечность 
interpreter_python = auto_silent 
# Автоматические нахождение python (без уведомления)
